src/*.exe
src/neptunecoin
src/neptunecoind
src/test_neptunecoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.neptunecoin

# Compilation and Qt preprocessor part
*.qm
Makefile
neptunecoin-qt
neptunecoin-Qt.app

# Unit-tests
Makefile.test
neptunecoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
